:root {
    --red: #C8102E;
}

:root {
    --gold: #FFD700;
}

body {
    background-color: var(--gold);
    
}

.pizza-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-content: center;
}

.pizza {
    border: 2px solid var(--red);
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 200px;
   
}

.pizza img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.pizza h3 {
    font-size: 20px;
    margin: 0;
    color: var(--red);
  
}

.pizza p {
    color: #666;
    font-size: 16px;
    margin: 10px 0;
}

.fifty-fifty {
    grid-column: span 2;
    grid-row: span 2;

}

.add-button {
    background-color: green;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  }
  

  .add-button:hover {
    background-color: darkgreen;
  }

  .pizza-halves {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .add-button.red {
    background-color: #FF0000;
  }
  
  .add-button.green {
    background-color: #4CAF50;
  }